// RESULT OF JOIN (node "attributes", preset default)
a(href='https://ya.ru' target='_blank') Yandex

// RESULT OF SPLIT (node "attributes", preset default)
a(
  href='https://ya.ru'
  target='_blank'
) Yandex
